---
- name: Deploy eida consistency python scripts on k8s cluster
  hosts: localhost
  gather_facts: false
  vars:
    ansible_python_interpreter: /usr/bin/python
  tasks:
    - name: Create CronJob for EIDA consistency checks
      kubernetes.core.k8s:
        state: present
        namespace: eida-monitoring
        definition:
          apiVersion: batch/v1
          kind: CronJob
          metadata:
            name: oculus-consistency
          spec:
            suspend: false
            schedule: "0 14 * * *"  # everyday at 2pm
            jobTemplate:
              spec:
                template:
                  spec:
                    restartPolicy: OnFailure
                    containers:
                      - name: oculus-eida-consistency
                        image: ghcr.io/eida/oculus-consistency:main
                        imagePullPolicy: Always
