---
- name: Deploy eida consistency python scripts on k8s cluster
  hosts: localhost
  gather_facts: false
  vars:
    ansible_python_interpreter: /usr/bin/python
  tasks:
    - name: Create ConfigMap for EIDA consistency env variables
      kubernetes.core.k8s:
        state: present
        namespace: eida-monitoring
        definition:
          apiVersion: v1
          kind: ConfigMap
          metadata:
            name: oculus-consistency-config
          data:
            DURATION: "600"
            EPOCHS: "100"
            MAX_WORKER: "4"
            SKIP_NODES: "IGN"
            ZABBIX_SERVER: "oculus-zabbix-zabbix-server"
            ZABBIX_PORT: "10051"

    - name: Create PV for EIDA consistency
      kubernetes.core.k8s:
        state: present
        namespace: eida-monitoring
        definition:
          apiVersion: v1
          kind: PersistentVolume
          metadata:
            name: oculus-consistency
          spec:
            capacity:
              storage: 1Ti
            accessModes:
              - ReadWriteMany
            nfs:
              server: sum-resif-nas.u-ga.fr
              path: /scratch/k8s-production/oculus/consistency

    - name: Create PVC for EIDA consistency
      kubernetes.core.k8s:
        state: present
        namespace: eida-monitoring
        definition:
          apiVersion: v1
          kind: PersistentVolumeClaim
          metadata:
            name: oculus-consistency
          spec:
            volumeName: oculus-consistency
            accessModes:
              - ReadWriteMany
            resources:
              requests:
                storage: 1Ti

    - name: Create CronJob for EIDA consistency checks
      kubernetes.core.k8s:
        state: present
        namespace: eida-monitoring
        definition:
          apiVersion: batch/v1
          kind: CronJob
          metadata:
            name: oculus-consistency
          spec:
            suspend: false
            schedule: "0 14 * * 0" # every sunday at 2pm
            jobTemplate:
              spec:
                template:
                  spec:
                    secutiryContext:
                      runAsUser: 1500
                      runAsGroup: 1500
                    restartPolicy: OnFailure
                    volumes:
                      - name: scratch
                        persistentVolumeClaim:
                          claimName: oculus-consistency
                    containers:
                      - name: oculus-eida-consistency
                        image: ghcr.io/eida/oculus-consistency:main
                        imagePullPolicy: Always
                        envFrom:
                          - configMapRef:
                              name: oculus-consistency-config
                        volumeMounts:
                          - name: scratch
                            mountPath: /scratch
