---
- name: Activate Media type Email (HTML) EIDA
  hosts: localhost
  gather_facts: false
  vars_files:
    - "../config/config_{{ hostvars['localhost']['selected_environment'] | default('staging') }}.yaml"
  vars:
    ansible_network_os: community.zabbix.zabbix
    ansible_connection: httpapi
    ansible_httpapi_port: 8888
    ansible_httpapi_use_ssl: false
    ansible_httpapi_validate_certs: false
    ansible_zabbix_url_path: ""
    ansible_host: localhost

  tasks:
    - name: Import Zabbix Credentials
      ansible.builtin.import_tasks: ../config/config_zabbix.yaml

    - name: Activate Media type
      delegate_to: localhost
      community.zabbix.zabbix_mediatype:
        name: "Email (HTML) EIDA"
        type: email
        smtp_server: "mailhost.u-ga.fr"
        smtp_email: "ne-pas-repondre@univ-grenoble-alpes.fr"
        smtp_server_port: 25
        message_format: "html"
        status: disabled
        message_templates:
          - eventsource: triggers
            recovery: operations
            subject: "OCULUS - Problem: {EVENT.NAME}"
            body: |
              <b>Problem started</b> at {EVENT.TIME} on {EVENT.DATE}<br>
              <b>Problem name:</b> {EVENT.NAME}<br>
              <b>Host:</b> {HOST.NAME}<br>
              <b>Description:</b> {}<br>
              <b>Severity:</b> {EVENT.SEVERITY}<br>
              <b>Operational data:</b> {EVENT.OPDATA}<br>
              <b>Original problem ID:</b> {EVENT.ID}<br>
              {TRIGGER.DESCRIPTION}<br>
              {TRIGGER.URL}
          - eventsource: triggers
            recovery: recovery_operations
            subject: "OCULUS - Resolved in {EVENT.DURATION}: {EVENT.NAME}"
            body: |
              <b>Problem has been resolved</b> at {EVENT.RECOVERY.TIME} on {EVENT.RECOVERY.DATE}<br>
              <b>Problem name:</b> {EVENT.NAME}<br>
              <b>Problem duration:</b> {EVENT.DURATION}<br>
              <b>Host:</b> {HOST.NAME}<br>
              <b>Severity:</b> {EVENT.SEVERITY}<br>
              <b>Original problem ID:</b> {EVENT.ID}<br>
          - eventsource: triggers
            recovery: update_operations
            subject: "OCULUS - Updated problem in {EVENT.AGE}: {EVENT.NAME}"
            body: |
              <b>{USER.FULLNAME} {EVENT.UPDATE.ACTION} problem</b>
              at {EVENT.UPDATE.DATE} {EVENT.UPDATE.TIME}.<br>
              {EVENT.UPDATE.MESSAGE}<br><br>
              <b>Current problem status:</b> {EVENT.STATUS}<br>
              <b>Age:</b> {EVENT.AGE}<br>
              <b>Acknowledged:</b> {EVENT.ACK.STATUS}
